.header {
  padding: 10px;
  box-sizing: border-box;
  min-height: 60px;
  background-color: #673ab7;
  box-shadow: 1px 1px 10px #333;
}
.logo {
  width: 100px;
  height: 40px;
  background-color: #fff;
}
