/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

* {
  font-family: 'Comfortaa', cursive;
}
body {
  margin: 0;
}
.full-width {
  box-sizing: border-box;
  width: 100%;
}
.container {
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
  max-width: 980px;
  width: 100%;
}
